.accordion{
    padding-top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.accordion-visible{
    border: none;
    padding: 10px 16px;
    background: #c5c5c5;
    width: 300px;
    font-size: 32px;
}

.accordion_toggle{
    width: 300px;
    height: 0;
    opacity: 0;
    transition: .4s linear;
    background: #c5c5c5;
    &.active{
        opacity: 1;
    }
}