.burger {
//   display: none;
  cursor: pointer;
  // position: absolute;
  width: 70px;
  height: 70px;

  // max-width: 100px; //Выше менять размер бургера
  // max-height: 100px;
  input {
    display: none;
  }

  path {
    fill: none;
    stroke: #000000;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    --length: 24;
    --offset: -38;
    stroke-dasharray: var(--length) var(--total-length);
    stroke-dashoffset: var(--offset);
    transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  circle {
    fill: #fff3;
    opacity: 0;
    transition: 0.1s linear;
  }

  .cross input:checked + svg {
    .line--1,
    .line--3 {
      --length: 22.627416998;
    }

    .line--2 {
      --length: 0;
    }
  }

  .debug {
    display: none;
  }
}

.menu--3 {
  // background-color: #00aef6;
  display: none;

  .line--1,
  .line--3 {
    --total-length: 126.38166809082031;
  }

  .line--2 {
    --total-length: 80;
  }

  input:checked + svg {
    .line--1,
    .line--3 {
      --offset: -109.1770175568;
    }
  }
}

.back input:checked + svg {
  .line--1,
  .line--3 {
    --length: 8.602325267;
  }
}


