// Для мобилок
@media (pointer: fine) {
  body {
    &::-webkit-scrollbar {
      width: 15px;
      z-index: 1;
    }

    &::-webkit-scrollbar-track {
      background: #ebebeb;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background: #1d1f1c;
      padding-right: 10px;
      border-radius: 8px;
      border: 3px solid #1d1f1c;
    }
  }
}

@media (max-width: 1370px) {
  .container {
    max-width: unset;
    padding: 0 32px;
  }

  .header_item {
    column-gap: 50px;
  }

  .accordion_content {
    width: 840px;
  }
}

@media (max-width: 1200px) {
  .basket {
    column-gap: 50px;
  }

  .basket_mTitle {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
  }

  .basket_functinol {
    margin-bottom: 20px;
  }
}

@media (max-width: 990px) {
  .basket {
    row-gap: 50px;
    flex-direction: column;
    align-items: stretch;
  }

  .basket_info_block {
    align-self: center;

    .btn {
      padding: 14px 84px;
    }
  }

  .card_items {
    .card_title {
      min-height: 48px;
    }
  }

  .basket_items {
    min-height: auto;
  }

  .favorites_bottom {
    .card_title {
      text-align: left;
    }
  }
}

@media (max-width: 940px) {
  .header_functional {
    .search {
    
      // display: none;
    }
  }

  .title {
    margin-top: 80px;
  }

  // Баннер
  .banner {
    margin-top: 32px;
    height: 428px;
    background-position: -220px;
  }

  .main_title {
    font-size: 48px;
    line-height: 60px;
    max-width: 370px;
  }

  .btn {
    padding: 12px 44px;
  }

  //   Карточки товара
  .card_img {
    height: 365px;
  }

  .card_item {
    gap: 16px;
  }

  .accordion_content {
    width: 740px;
  }

  //   footer
  .footer_content {
    flex-direction: column;

    .logo,
    .copyright {
      margin: 0;
      align-self: unset;
    }

  }

  .footer_nav {
    display: flex;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
    align-self: unset;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  //CARD 

  .mar {
    margin: 20px 0;
  }

  .card_descript {
    margin-left: 40px;

    .card_sizes {
      margin-bottom: 28px;
    }
  }

  .sub_descript {
    margin-top: 48px;
  }

  //favorites
  .favorites_items {
    grid-template-columns: 1fr 1fr;

    .card_title {
      width: -webkit-fill-available;
    }
  }
}

@media (max-width: 770px) {
  .container {
    padding: 0 16px;
  }

  .title {
    margin-top: 60px;
  }

  .logo{
    display: flex;
    flex: 1;
  }

  .menu--3 {
    display: contents;
  }

  .header_item {
    flex-direction: column;
    align-items: center;
    // margin-top: 20px;
    padding: 40px 40px;
    row-gap: 30px;
    position: absolute;
    top: 70px;
    transform: translateX(-50%);
    left: 50%;
    width: calc(100% + 64px);
    background: #fff;
    padding-bottom: 100px;
    transform: translateX(-150%);
    transition: 0.4s linear;
    z-index: 9999;
    height: 100vh;

    .main_title {
      z-index: 0;
    }

    &.active {
      transform: translateX(-50%);
    }
  }

  .header_items {
    width: 100%;
    height: auto;
    justify-items: center;

    &:nth-child(3) {
      order: 4
    }

    &:nth-child(2) {
      order: 4
    }

    &:last-child {
      order: 5
    }

    a {
      width: inherit;
      // text-align: center;
    }
  }

  .mobail {
    display: block;
  }

  // .btn{
  //   z-index: -1;
  // }
  .header_user_options {
    display: flex;
    justify-content: space-between;

    img {
      width: 39px;
      height: auto;
    }
  }

  .search {
    background:#fff;
    display: none;
    // width: 0;
    // padding: 0;
    &.active{
      display: flex;
      width: 100%;
    }
  }

  .founder{
    border-radius:0;
    width: 100%;
    left: 0;
    &.active{
      .logo{
        flex:0 0;
      }
    }
  }

  .header_functional {
    // display: none;
    // flex-direction: column;
    flex: 2;
    justify-content: flex-end;
    // row-gap: 20px;
    // position: absolute;
    // transform: translateX(-50%);
    // left: 50%;
    // top: 350px;
    // width: calc(100% + 64px);
    // transform: translateX(-150%);
    transition: 0.4s linear;
    // z-index: 9999;

    &.active {
      // transform: translateX(-50%);
    }

    .header_search{
      justify-content:flex-end;
      .search_img{
        display: block;
      }
    }

    .header_favorites,
    .header_basket,
    .header_user {
      display: none;
    }
  }

  .header_favorites,
  .header_basket {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  //   Банер
  .banner {
    margin-top: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  // Карточки товара

  .card_item {
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);

    &.mt-mb {
      margin: 40px 0;
    }
  }

  .about_text {
    font-size: 20px;
    line-height: 38px;
  }

  .accordion_content {
    width: 90%;
  }

  //CARD 

  .card {
    grid-template-columns: 1fr;
  }

  .card_descript {
    margin-left: 0;
  }

  .card_galerey {
    margin-bottom: 32px;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 570px) {
  .basket_picture {
    img {
      height: auto;
      max-width: 150px;
    }
  }

  .favorites_items {
    grid-template-columns: 1fr;
  }

  .card_items {
    .card_title {
      min-height: 72px;
    }
  }

  .accordion_content.active .accordion_descript {
    padding: 0;
    margin: 20px 8px;
    font-size: 16px;
  }
}

@media (max-width: 470px) {
  .modal_content {
    width: 90vw;

    img {
      width: 100px;
      height: auto;
    }
  }

  .errors_text {
    font-size: 16px;
  }

  .title {
    margin-top: 40px;
    font-size: 24px;
    letter-spacing: 0.408px;
  }

  .container {
    padding: 0 12px;
  }

  .banner {
    height: 370px;
  }

  .main_title {
    font-size: 30px;
    line-height: 46px;
    max-width: unset;
  }

  .card_img {
    height: 179px;
  }

  .card_title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.272px;
  }

  .card_price {
    font-size: 14px;
    letter-spacing: 0.196px;
  }

  .btn.card {
    margin-top: 30px;
  }

  .about_text {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.238px;
  }

  .accordion_title {
    padding-right: 40px;

    &::before {
      right: 10px;
    }
  }

  .accordion_content {
    width: unset;
    // flex-grow: 1;
  }

  .card_galerey {
    // grid-template-columns: 1fr 1fr;

    img:nth-child(n+3) {
      display: none;
    }
  }

}